body{
    /* color:black */
}

/* Header */

header {
    display: flex;
    /* align-items: flex-start; */
    background-color: whitesmoke;
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 1;
}

/* Navigation bar */
nav{
    display: flex;
}

nav a {
    padding: 20px 150px;
    text-decoration: none;
    font-size: larger;
    justify-content: center;
}

.active{
    text-decoration:solid underline;
}

/* Index page hero image */

.hero-image {
    display: flex;
    align-items: flex-end;
    height: 90vh;
    width: 100vw;
    position:relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('/images/pexels-twelveAp.jpg');
}

.overlay {
    position:absolute;
    height:100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0); 
    color: white;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

/* Index page attractions section */

.attractions-pics {
    height: 25vh;
    width: 25vw;
}

/* EXPERIMENT WITH INLINE STYLES AS OPPOSED TO GRID SECTIONS?????? */


/* Delete all of this text from the HTML and try to create one grid for the koala and apostles
    create another box for the falls and surfing. Start slow and get it done piece by piece */

/* 
#attractions-grid {
    display: flex;
    direction: column-reverse;
}

#koalaflex {
    justify-content: flex-start;
    align-content: space-around;
}

#twelveflex {
    justify-content: flex-end;
    align-content: space-around;
} */
 
/* #attractions-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
    grid-template-rows: 50% 50%; 
    grid-template-areas: "KoalaText KoalaPic"
                         "TwelveText TwelvePic"
                         "FallsText FallsPic"
                         "SurfText SurfPic";
}

.koala-grid {
    grid-area: KoalaText;
}

.koala-photo {
    grid-area: KoalaPic;
}

.twelve-grid {
    grid-area: TwelveText;
}

.twelve-photo {
    grid-area: TwelvePic;
}

.falls-grid{
    grid-area: FallsText;
}

.falls-photo {
    grid-area: FallsPic;
}

.surf-grid {
    grid-area: SurfText;
}

.surf-photo {
    grid-area: SurfPic;
}  */

/* Footer */
footer i {
    font-size: 30px;
    padding:20px 150px;
}
