@import url('https://fonts.googleapis.com/css2?family=Lora&family=Satisfy&display=swap');

/* Font Styles */
nav, h1, h2, h3{
    font-family: 'Satisfy', cursive;
}

body{
    font-family: 'Lora', serif;
    font-size: medium ;
}

/* Header */

header {
    display: flex;
    /* align-items: flex-start; */
    background-color: whitesmoke;
    height: 15vh;
    width: 100%;
    position: fixed;
    z-index: 1;
}

/* Navigation bar */

nav {
    display: flex;
    flex-direction: row;
}

#nav-list {
    list-style-type: none;
    display:flex;
    flex-direction: row;
}

#logo{
    text-decoration: none;
    color: black;
    padding: 50px 40px;
    font-size: 30px;

}

@media only screen and (min-width: 769px){
    #nav-list{
        width: 50vw;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between
    }

}

@media only screen and (max-width: 768px) {

    header {
        position:fixed;
    }

    #nav-list {
        display:flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding-left: 0;
    }

    #nav-list li {
        padding-bottom: 2vh;
    }

    #nav-list li ::hover {
        text-decoration: underline;
    }
}

@media only screen and (max-width: 483px) {

    #logo {
        font-size: 20px;
    }

}

 /* nav{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-size: 90.5%;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid #e2e8f0;
    opacity: 0.7;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color:black;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: black;
}

.active{
    text-decoration:solid underline;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position:fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background: #fff;
        width:100%;
        border-radius: 10px;
        text-align:center;
        transition: 0.3s;
        box-shadow: 
                0 10px 27px rgba(0, 0, 0, .5);
    }

    .nav-menu.active{
        left:0;
    }

    .nav-item{
        margin: 2.5rem 0;
    }

    .hamburger {
        display: inline-block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
} */

/* Index page hero image */

.hero-image {
    display: flex;
    align-items: flex-end;
    height: 90vh;
    width: 100vw;
    position:relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../images/pexels-twelveap.jpg');
}

.overlay {
    position:absolute;
    height:100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0); 
    color: white;
    text-shadow: 2px 2px 3px rgba(100,100,100,100);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: larger;

}

/* Index page attractions section */

#attractions-title {
    text-align: center;
    font-size:10vh;
    margin-top: 5px;
}


.attractions-pics {
    height: 33vh;
    width: 25vw;
    border-radius: 40%;
}

.zoom {
    transition: transform .2s; /* Animation */
  }
  
  .zoom:hover {
    transform: scale(1.05); 
  }

.attractions-row-one {
    display:flex;
    width: 100vw;

}

.image-text-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50vw;
    justify-content: center;
}

.image-flex {
    width: 50vw;
    display: flex;
    align-content: flex-start;
    padding: 5px;
    padding-right: 2vw;
}

#index-buttons {
    display:flex;
    justify-content: center;
    align-content: space-around;
    margin: 20px 20px; 
}

#button-right{
    margin-left: 50px;
}

.index-cta {
    background-color: #199319;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  margin-left: 20px;
}

.index-cta:hover{
    text-decoration: underline;
    font-size: 17px;
}

@media only screen and (max-width: 768px) {
    .attractions-row-one{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        width:100%;
        padding-left:30px;
        padding-right: 30px;
    }

    .image-flex {
        width: 100%;
    }

    .image-text-wrap{
        width: 50%;
    }

    .attractions-pics{
        width:55%;
    }

}

/* FAQ section on index page */

#FAQ-section {
    text-align: center;
     display: flex; 
    justify-content: center;
    flex-direction: column ;
    flex-wrap: wrap;
} 

#FAQ-section h2 {
    display: flex;
    justify-content: center;
    font-size: 6vh;
    padding-top: 0;
}

details {
    font-family: 'Lora', serif;
     font-size: x-large;
     padding-top: 20px;
}

details > summary {
    font-family: 'Satisfy', cursive;
    list-style-type: none;
}

.faq-text {
    font-size:medium;
    font-family: 'Lora', serif;
    width: 60vw;
    margin-left: 20%;
}

.faq-link {
    color:#101010;
    text-decoration: underline;
}

/* Hero-Image itinerary page */

.hero-image-itinerary {
    display: flex;
    align-items: flex-end;
    height: 90vh;
    width: 100vw;
    position:relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../images/pexels-cars-road.jpg')
}

.overlay {
    position:absolute;
    height:100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0); 
    color: white;
    text-shadow: 2px 2px 3px rgba(100,100,100,100);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: larger;
}

/* Itinerary 3 day plan */

.itinerary-pics {
    height: 33vh;
    width: 25vw;
    /* border-radius: 40%; */
}

.itinerary-link {
    text-decoration: none;
    color:#101010;
}

.itinerary-link:hover {
    text-decoration: underline dashed;
}

/* Itinerary page grid layout */

#itinerary-flex {
    display: flex;
    flex-direction: column;
}

.itinerary-container {
    display:flex;
    flex-direction: row;
    
}

.grid-item {
    padding: 2vw 5vw 0 5vw;

}

.grid-photos {
    width: 40vw;
    height:auto;
    border-radius: 50%;
}

#itinerary-link {
    text-decoration: underline;
    color:#101010;
}


@media only screen and (max-width: 768px) {
    .itinerary-container{
        display: flex;
        flex-direction: column;
    }

    #day-one{
        display: flex;
        flex-direction: column-reverse;
    }

    #day-three {
        display: flex;
        flex-direction: column-reverse;
    }

    .grid-photos {
    width:100%;
    height:auto;
    border-radius: 10%;
    }

    .itinerary-text{
        text-align: center;
        padding-top: 10px;
    }

    .itinerary-link {
        padding: 50px;
    }

    div li {
        list-style: none;
        padding-top: 35px;
    }
}

/* Gallery Page */

.gallery-grid-container {
    display: grid;
    padding-top: 15vh;
    row-gap: 15px;
    grid-template-columns: 32% 32% 32%;
    column-gap: 15px;
    padding-top: 15vh;
    padding-left: 10px;
}

.gallery-grid-item {
    height: 30vw;
    width: 100%;
    border-radius: 3%;
}

@media only screen and (max-width: 768px) {

    .gallery-grid-container {
        display: grid;
        grid-template-columns: 50% auto;
        padding-top: 15vh;
        row-gap: 1vh;
        column-gap: 1vw;
        padding-left: 10px;
    }

    .gallery-grid-item {
        width:100%;
    }
}


/* Contact us form hero image */

.hero-image2 {
    display: flex;
    align-items: flex-end;
    height: 90vh;
    width: 100vw;
    position:relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../images/pexels-road-form.jpg');
}

#contactform {
        margin: 10% 10% 10% 10%;
        color: #fff;
        background-color: rgba(60,60,60,0.6);
        max-width: 400px;
        position: absolute;
        background-position: 70%;
        padding: 30px;
}

#contactform input{
    padding-bottom: 15px;
}

#submit-button {
    background-color: #199319;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  margin-left: 20px;
}

/* Contact us section */

#contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:100%;
    font-size: large;
    font-weight:bold;
}

.contact-title {
    text-decoration: underline;
    font-family: 'Satisfy', cursive;
    font-size: 35px;
    margin-right: 10px;
}

.contact-link {
    font-size: 25px;
    text-decoration: none;
    color:black;
}

.contact-top {
    font-weight: bold;
    font-size: 30px;
}

.contact-link:hover {
    text-decoration: underline;
}


#contact-details {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
}

#address-contact {
    width: 15vw;
    display: flex;
    flex-direction: column;
}

#location {
    display:flex;
    flex-direction: column;
    padding-left: 20px;
}

.address-format {
    font-size: 30px;
}

@media only screen and (max-width: 768px) {

}

/* Form submission page cover photo*/

.hero-image-submission {
    display: flex;
    align-items: flex-end;
    height: 90vh;
    width: 100vw;
    position:relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../images/pexels-form-submission.jpg');
}

.overlay-submission {
    position:absolute;
    height:100%;
    width: 100%;
    top: 0;
    left: 15vw;
    background: rgba(0, 0, 0, 0); 
    color: white;
    text-shadow: 2px 2px 3px rgba(100,100,100,100);
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: larger;
}

/* Footer */

footer {
    font-family: 'Satisfy', cursive;
    color: black;
    padding-top: 7vh;
    font-size: 3vh;
}

#flex-items{
    display: flex;
    justify-content: space-around;
}

footer i {
    color: black;
    font-size: 6vh;
    padding: 4vw;
}

#footer-address {
    text-align: center;
    padding-top: 20px;
}

@media only screen and (max-width: 870px) {
    footer i {
        color: black;
        font-size: 3vh;
        margin-left: 1vw;
        padding-top: 3vh;
        padding-bottom: 2vh;
    }

    #footer-address{
        display: flex;
        justify-content: center;
        font-size: 2.5vh;
    }
}

@media only screen and (max-width: 630px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 5vh;
    }

    footer i {
        display:flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    #footer-address{
        display: none;
    }
}
