@import url('https://fonts.googleapis.com/css2?family=Lora&family=Satisfy&display=swap');
/* Font Styles */

nav, h1, h2, h3{
    font-family: 'Satisfy', cursive;

}

body{
    font-family: 'Lora', serif;
    font-size: medium ;

}



/* Header */

header {
    display: flex;
    /* align-items: flex-start; */
    background-color: whitesmoke;
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 1;
}

/* Navigation bar */
 nav{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-size: 90.5%;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid #e2e8f0;
    opacity: 0.7;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color:black;
}

.nav-link:hover{
   -ms-zoom-animation:;  /* how do I zoom in on this when hovering */
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: black;
}

.active{
    text-decoration:solid underline;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position:fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background: #fff;
        width:100%;
        border-radius: 10px;
        text-align:center;
        transition: 0.3s;
        box-shadow: 
                0 10px 27px rgba(0, 0, 0, .5);
    }

    .nav-menu.active{
        left:0;
    }

    .nav-item{
        margin: 2.5rem 0;
    }

    .hamburger {
        display: inline-block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Index page hero image */

.hero-image {
    display: flex;
    align-items: flex-end;
    height: 90vh;
    width: 100vw;
    position:relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('/images/pexels-twelveAp.jpg');
}

.overlay {
    position:absolute;
    height:100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0); 
    color: white;
    text-shadow: 2px 2px 3px rgba(100,100,100,100);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: larger;

}

/* Index page attractions section */

#attractions-title {
    text-align: center;
    font-size:10vh;
    margin-top: 5px;
}


.attractions-pics {
    height: 33vh;
    width: 25vw;
    border-radius: 40%;
}

.zoom {
    transition: transform .2s; /* Animation */
  }
  
  .zoom:hover {
    transform: scale(1.05); 
  }

#attractions-row-one {
    display:flex;
    width: 100vw;

}

@media only screen and (max-width: 768px) {
    #attractions-row-one{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        width:auto;
    }

    .image-flex{
        width: 100vw;
    }

}

.image-text-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50vw;
}

.image-flex {
    width: 50vw;
    display: flex;
    align-content: flex-start;
    padding: 5px;
}

/* FAQ section on index page */

#FAQ-section {
    text-align: center;
    /* display: flex; */
    /* justify-content: center;
    flex-direction: column ;
    flex-wrap: wrap; */
} 

#FAQ-section h2 {
    display: flex;
    justify-content: center;
    font-size: 10vh;
    padding-top: 0;

}

details {
    font-family: 'Lora', serif;
     font-size: x-large;
     padding-top: 20px;
    /*display: flex;*/

}

details > summary {
    font-family: 'Satisfy', cursive;
    list-style-type: none;
}

.faq-text {
    font-size:medium;
    font-family: 'Lora', serif;
    width: 60vw;
    margin-left: 20%;
}
/* Contact us form hero image */

.hero-image2 {
    display: flex;
    align-items: flex-end;
    height: 90vh;
    width: 100vw;
    position:relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('/images/pexels-road-form.jpg');
}

#contactform {
    background-color: rgba(0, 0, 0, .2);
    color: white;
}


/* Footer */
footer i {
    font-size: 30px;
    padding:20px 150px;
}
